
.idea/

Tutorials/Tutorial1/data/MNIST/raw/

Labs/Lab1/data/MNIST/raw/

Tutorials/Tutorial2/data/MNIST/raw/

Tutorials/Tutorial2/saved_model

Labs/Lab2/data/cifar-10-batches-py/

Tutorials/Tutorial3/data/MNIST/raw/

Labs/Lab2/data/

*.jpg

*.zip

Tutorials/Tutorial3/Flower_Data_Large/__MACOSX/val/

Tutorials/Tutorial3/Flower_Data_Large/__MACOSX/train/

Project/processed_wikiart/Romanticism/

*.ini

*.csv

*.yaml

*.ckpt

*.gz

Labs/Lab3/FashionMNIST/raw/

Tutorials/Tutorial3/Flower_Data_Large/__MACOSX/._train

Tutorials/Tutorial3/Flower_Data_Large/__MACOSX/

*.db

*.pt

*.pth

*.tar

Tutorials/Tutorial4/data/MNIST/raw/

*.png

Tutorials/Tutorial5/.vector_cache/

Labs/Lab5/SMSSpamCollection

Labs/Lab5/readme

*.arrow
*.json
*.bin
*.safetensors
*.log
