
.idea/

Tutorials/Tutorial1/data/MNIST/raw/

Labs/Lab1/data/MNIST/raw/

Tutorials/Tutorial2/data/MNIST/raw/

Tutorials/Tutorial2/saved_model

Labs/Lab2/data/cifar-10-batches-py/

Tutorials/Tutorial3/data/MNIST/raw/

Labs/Lab2/data/
